.ddd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    line-height: 28px;

}

.edit {
    background-color: white;
    background-image: url("../../public/asset/image/menu.png");
    background-size: cover;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: auto;
    right: 30px;
}
.flqb {
    position: absolute;
    top: auto;
    right: 45%;
}

.back {
    background-color: white;
    background-image: url("../../public/asset/image/back.png");
    background-size: cover;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    // position: absolute;
    // top: auto;
    // left: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 30px;

}

.review {
    position: relative;
    background-color: white;
    margin: 30px;
    // padding: 20px;
    width: 700px;
    border: 3px solid lightgray;
    border-radius: 20px;
    text-align: center;
}

.reviewContent {
    padding: 0 30px 30px;
    line-height: 30px;
    text-align: start;
    font-size: 23px;
}

// .review-image {
//     padding: 30px;
//     width: auto;
//     height: auto;
//     // margin: auto;
//     // display: flex;
//     // justify-content: center;
// }
.reviewImageImg {
    // display: flex; 
    float: left;
    width: 120px;
    height: 120px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 35px;
}

.profile {
    width: 700p;
    height: 110px;
    display: flex;
    padding: 20px;
    align-items: center;
}
.profileImg {
    border: 1px solid rgb(193, 193, 193);
    border-radius: 50%;
}
.profileInfo {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin: 20px; */
    padding: 10px 20px;
    line-height: 34px;
}

.profileName {
    font-size: 28px;
    font-weight: 600;
}

.profileDate {
    }

.profileStar {
    color: gray;

}

.storeInfo {
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: start;
    width: calc(100% - 60px);
    background-color: #FFC657;
    font-size: 25px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sn {
    font-size: 35px;
}

.add {
    font-size: 20px;
}

.HeartPosition {
    position: absolute;
    top: 250px;
    right: 100px;
}
