.container {
  display: flex;
  height: 100vh; 
  width: 100%;
}

.NavBar {
  flex: 0 1 200px;
  display: flex;
  // flex-direction: column;
  // overflow: auto; 
}

.right {
  display: flex;
  flex: 1; 
  flex-direction: column;
}

.Header {
  flex: 0 1 auto; 
}

.Main {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.footer {
  flex: 0 1 auto;
  height: 160px;
  width: 100%;
}