@import "../../common.scss";

.title{
  display: flex;
  font-family: 'TmoneyRoundWindExtraBold';
  font-size: 25px;
  width: 100%;
  color: white;
  background-color: #FFC657;
  font-weight: bold;
  height: 60px;
  border-radius: 20px 20px 0 0;
  align-items: center;
  justify-content: center;
}

.containerWrapper {
  display: none;
}

.container{
  width: 400px;
  // height: 350px;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  background-color: #F6F6F6;
  font-family: 'TmoneyRoundWindExtraBold';
  flex-direction: column;
  font-family: "appleM";
  box-shadow: 0px 4px 4px rgb(215, 215, 215);
  // margin-top: 50px;
  @include columnCenter();
  position: relative;
  
  input{
    height: 30px;
    border-radius: 50px;
    margin-top: 5px;
    padding-left: 10px;
    border: none;
  }

  span{
    margin: 5px;
  }

}

.imgMod{
  width: 35px;
  height: 35px;
  // border: 1px solid red;
  box-shadow: 0px 2px 2px gray;
  border-radius: 50% 50% 50% 0;
  align-items: center;
  background-color: white;
  position: relative;
  position: absolute;
  top: 16%;
  right: 35%;
}
.pen{
  font-size: 30px;
  color: black;
  position: absolute;
  top: 25%;
  right: 25%;
}

.imgg{
    img{
      margin: 20px;
      border-radius: 50%;
      border: 3px solid white;
      box-shadow: 0px 4px 4px rgb(201, 201, 201);
      // position: relative;
    }
}
.line{
  margin: 15px;
  height: 1px;
  background-color: #DDDDDD;
  display: flex;
  flex-grow: 3;
}

.submit{
  margin: 20px;
  width: 60px;
  background-color: #FFC657;
  color: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 1px 2px rgb(235, 235, 235);
}

.label{
  font-family: 'TmoneyRoundWindExtraBold';
}