@import '@/app/common.scss';

.container {
  font-family: 'TmoneyRoundWindExtraBold';
  @include columnCenter();
  width: 1280px;
}

.header {
  @include rowCenter();
  ul {
    list-style: none;
    display: flex;
    
    li {
      border-radius: 30px;
      width: 200px;
      height: 60px;

      span {
        margin-left: 10px;
      }

      @include hover();
    }
  }
}

.input {
  @include rowCenter();
  background-color: #D9D9D9;
  width: 700px;
  height: 60px;
  border-radius: 30px;
  input {
    background-color: #D9D9D9;
    border: none;
    width: 600px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    &:focus{
      outline: none;
    }
  }
}