@import "../../common.scss";

.comment {
  background-color: white;
  margin: 30px;
  // padding: 20px;
  width: 660px;
  // height: 920px;
  // border: 3px solid lightgray;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;

  @include respond($mobile){
    width: 375px;
    // height: 80px;
    min-height: 80px;
  }

}

.commentWrite {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  @include respond($mobile){
    // width: 330px;
    height: 40px;
  }
  img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.commentList{
  display: flex;
  flex-direction: column;
}

.write{
  width:60%;
  height: 40px;
  border-radius: 60px;
  padding-left: 13px;
  background-color: #f4f4f4;
  border: none;

  @include respond($mobile){
    width: 200px;
  }

}
.write:focus {
  outline: 3px solid rgb(93, 93, 93);
}

.commentWrite > button {
  width: 80px;
  border-radius: 40px;
  border: none;
  color: white;
  background-color: #FFC657;
  font-size: 18px;
  text-align: center;

  @include respond($mobile){
    width: 60px;
    font-size: 14px;
  }
} 

.commentWrite > button:hover {
  background-color: red;
  transition: 0.5s;
}

.commentImg{
  border: 1px solid lightgray;
  border-radius: 50%;
  // padding: 20px;
}