.trStyle {
  background-color: rgb(255, 255, 255);
  :hover {
    background-color: #c4e1fd;
  }
}
.trStyle {
  border: 1px solid rgb(147, 147, 147);
  border-collapse: collapse;
  padding: 8px;
  height: 40px;
}
.BtnStyle {
  border: none !important;
  background: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: red;
  :hover {
    color: red;
  }
}

.reviewContent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 500px;
  max-width: 500px;
}

.reportContent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 245px;
  max-width: 245px;
}

.date {
  // min-width: 180px;
  // max-width: 180px;
  position: relative;
}

.email {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 145px;
  max-width: 145px;
}

.UBtnStyle {
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid gray;
  font-size: 15px;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  padding: 0px 8px 0px 8px;
}
// // table {
// //   margin: 40px;
// // }

// // table,
// // th,
// // td {
// //   width: 1000px;
// //   border: 1px solid black;
// //   border-collapse: collapse;
// // }

// th,
// td{
//   padding: 10px 15px;
//   border: none;
//   padding: 20px;
//   // border-bottom: 1px solid black;
// }

// th{
//   text-align: left;
//   background-color: #F9F9F9;
//   border-bottom: 1px solid black;
// }

// table .list :hover{
//   background-color: #E2EEF9;
//     button {
//       background-color: white;
//     }
// }

// td{
//   background-color: white
// }

// .nickname{
//   display: inline-block;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   width: 200px;
// }

// .reviewContent{
//   width: 700px;
// }
