// p{
//   font-size: 40px;
//   text-align: start;
//   margin-top: 40px;
// }

// table {
//   margin: 40px;
// }

// table,
// th,
// td {
//   // width: 1000px;
//   border: 1px solid black;
//   border-collapse: collapse;
// }

// th,
// td{
//   padding: 10px 15px;
//   border: none;
//   border-bottom: 1px solid black;
// }

// th{
//   text-align: left;
//   background-color: #F9F9F9;
// }

// table .list :hover{
//   background-color: #E2EEF9;
//     button {
//       background-color: #E2EEF9;
//     }
// }

// td{
//   background-color: white
// }

// button {
//   cursor: pointer;
//   background-color: white;
//   border: none;
//   font-size: 15px;
// }

// .nickname{
//   width: 200px;
// }

// .reviewContent{
//   width: 400px;
//   display: inline-block;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// .reportContent{
//   width: 200px;
// }

// .date {
//   width: 200px;
// }

.container{
  width: 500px;
}

.trStyle {
  background-color: rgb(255, 255, 255);
  :hover {
      background-color: #C4E1FD;
  }
}

.BtnStyle {
  border: none !important;
  background: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: red;
  :hover {
      color: red;
  }
}

.commentContent {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 500px;
    max-width: 500px;
}

.reportContent{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 245px;
  max-width: 245px;
}

.date{
  // min-width: 180px;
  // max-width: 180px;
  position: relative;

  .BtnStyle{
    position: absolute;
    right: 0;
  }
}
