// @font-face {
//   font-family: "appleM";
//   src: url("../../../public/asset/font/AppleSDGothicNeoM.ttf");
// }
// @font-face {
//   font-family: "appleB";
//   src: url("../../../public/asset/font/AppleSDGothicNeoB.ttf");
// }

// *{
//   font-family: "appleM";
// }

.container {
  width: 1200px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.storeId {
  display: none;
}
.storeDetail {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 500px;
  // height: 750px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 50px;
}

.storeTop{
  width: 100%;
  height: 80px;
  min-height: 80px;
  color: white;
  border-radius: 20px 20px 0 0;
  background-color: #48b8cb;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.storeImageDetail {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  .MainImage {
    // border: 1px solid rgb(167, 167, 167);
    background-color: #d9d9d9;
    width: 250px;
    height: 300px;
    box-sizing: border-box; 
    border-collapse: collapse;
  }
  .click{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-left: 20px;
  
  }
  
  .fileInput {
    position: absolute;
    left: 10%;
    top: 45%;
  }
  .subImage {
    background-color: #D9D9D9;
    width: 125px;
    height: 150px;
    box-sizing: border-box; 
    // border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
  }
}

.subImageList {
  width: 250px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  #sub2 {
    border-top-right-radius: 20px;
  }
}

.storeInfoDetail {
  line-height: 2;
  width: 360px;
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  div {
    align-items: center;
    height: 60px;
    justify-content: space-between;
    display: flex;
  }
}
.storeNameDetail {
  display: flex;
  div {
    align-items: end;
  }
  span {
    font-size: 30px;
  }
}

.inputInfo {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #C8C8C8;
  background-color: #F2F2F2;

  &::placeholder{
    color:#C8C8C8;
  }
}
.buttonList {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 1000px;
  width: 100%;
  height: 200px;
}
.buttonStyle {
  cursor: pointer;
  width: 160px;
  height: 60px;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 30px;
}
.register {
  height: 70px;
  border: 1px solid white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid white;
  margin-right: 25px;
  background-color: #2CA1B7;
  border-radius: 50px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #2CA1B7;
    transform: scale(1.05); 
    transition: background-color 0.2s, color 0.2s, transform 0.2s; 
  }
}
.cancel {
  height: 70px;
  border: 1px solid white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid white;
  margin-right: 25px;
  border-radius: 50px;
  background-color: #ff7f7f;


  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #ff7f7f;
    transform: scale(1.05); 
    transition: background-color 0.3s, color 0.3s, transform 0.3s; 
  }

}
.hashTagBtn {
  font-size: 30px;
  position: absolute;
  right: 40px;
  bottom: 75px;
  background-color: #ffc657;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #ffc657;
  // padding-left: 20px;
  border: none;
  color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: #f7b023;
    color: #ffffff;
    transform: scale(1.1); 
    transition: background-color 0.3s, color 0.3s, transform 0.3s; 
  }
}
.storeHashTag {
  width: 360px;
}
.hashTagList {
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: flex-start;
}
.menuRegister {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  height: auto;
  // max-height: 750px;
  margin-top: 50px;
  border-radius: 20px;
  background-color: white;



  .title {
    width: 100%;
    height: 80px;
    min-height: 80px;
    color: white;
    border-radius: 20px 20px 0 0;
    background-color: #48b8cb;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuList {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    
    input{
      // width: 250px;
      height: 30px;
      border-radius: 10px;
      border: 1px solid #C8C8C8;
      background-color: #F2F2F2;
      // margin-left: 10px;
    }
  }
}
.menuPrice {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
}
.menuBtn {
  width: 30px;
  height: 30px;
  background-color: #ffc657;
  border: 1px solid white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

 &:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #FFC657;
  transform: scale(1.05); 
  transition: background-color 0.3s, color 0.3s, transform 0.3s; 
}

}

.inputMenuPrice {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.inputMenu {
  border-radius: 10px;
  height: 20px;
}
.inputPrice {
  border-radius: 10px;
  height: 20px;
}
.inputStyle {
  width: 60%;
}
.menuInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.registerMenu {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-right: -30px;
  padding: 0px;
  margin-left: -10px;
  

//  &:hover {
//   background-color: rgba(255, 255, 255, 0.8);
//   color: #FFC657;
//   transform: scale(1.05); 
//   transition: background-color 0.3s, color 0.3s, transform 0.3s; 
// }

}
.menu {
  width: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  div {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.price {
  display: flex;
  justify-content: center;
  width: 180px;
  flex-direction: column;
}

.menuPriceInfo {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
}
.delBtn {
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: end;
}
.menuDelBtn {
  width: 30px;
  height: 30px;
  background-color: #ffc657;
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: end;
  margin-left: 45px;
}
.createmenu{
  padding: 10px;
}