@import "@/app/common.scss";

.DetailMap {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 800px;
  // height: 960px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond($mobile) {
    width: 375px;
    margin-top: 10px;
    margin-bottom: 10px;
    // height: 500px;
  }
}
.map {
  width: 800px;
  height: 500px;
  margin: 30px;
  display: flex;
  justify-content: center;

  @include respond($mobile) {
    width: 340px;
    height: 290px;
    margin-top: 30px;
  }
}
.myLocation {
  display: none;
}

.menu {
  line-height: 2;
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: flex-start;
  justify-content: flex-start;
  @include respond($mobile) {
    width: 375px;
  }
}

.menuInfo {
  height: 80px;
  width: 300px;
  margin: 10px 0px 20px 0px;
  display: flex;
  font-size: 32px;
  align-items: center;
  font-weight: bold;
  span {
    font-size: 21px;
    color: #777777;
    margin-left: 30px;
    cursor: pointer;
  }

  @include respond($mobile) {
    width: 375px;
    font-size: 25px;
    margin: 50px 0 10px 10px;
    height: 50px;
    span {
      margin-top: 10px;
      margin-left: 20px;
      font-size: 15px;
    }
  }
}

.menuList {
  padding: 0;
  font-size: 25px;
  width: 600px;
  justify-content: space-between;
  li {
    display: flex;
    justify-content: space-between;
  }
  @include respond($mobile) {
    width: 375px;
    font-size: 15px;
    @include rowCenter();
    li {
      justify-content: space-evenly;
    }
  }
}
.menuLine {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  // padding-bottom: 20px;

  .line {
    flex-grow: 10;
    height: 2px;
    background-color: #9c9c9c;
    margin: 0 25px;
  }
}
