@import "../../common.scss";

$yellow: #ffc657;

$mobile: 360px;

@mixin mobile {
  @media (min-width: $mobile) and (max-width: 767px) {
    @content;
  }
}
@include mobile {
  .mobileHeader {
    display: none;
  }

  .container {
    font-family: "appleM";
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
      background-color: pink;
      width: 100vw;
    }
  }
}
.storeId {
  display: none;
}
.storeDetail {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 800px;
  height: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 50px;
  white-space: nowrap;
  @include mobile {
    background-color: pink;
    width: 375px;
    height: 500px;
  }
}
.storeImageDetail {
  padding: 0px;
  margin: 0px;
  width: 800px;
  height: 430px;
  @include rowCenter();
  .MainImage {
    width: 400px;
    height: 430px;
    border-top-left-radius: 20px;
    @include mobile {
      width: 187px;
      height: 187px;
    }
  }

  .subImage {
    width: 200px;
    height: 215px;
    @include mobile {
      width: 93px;
      height: 93px;
    }
  }
  @include mobile {
    width: 375px;
    height: 187px;
  }
}

.subImageList {
  width: 400px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  @include mobile {
    width: 187px;
    height: 187px;
  }
  #sub2 {
    border-top-right-radius: 20px;
  }
}

.storeInfoDetail {
  line-height: 2;
  width: 500px;
  margin-top: 40px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  div {
    align-items: center;
    height: 70px;
    display: flex;
  }
}
.storeNameDetail {
  padding-bottom: 20px;
  display: flex;
  div {
    align-items: end;
  }
  span {
    font-size: 40px;
    padding-right: 20px;
    @include mobile {
      font-size: 30px;
    }
  }
}
.storeHashTag {
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 40px;

  div {
    font-family: "appleB";
    margin: 0px 14px;
    width: 120px;
    padding: 0px 14px;
    height: 50px;
    font-size: 25px;
    border: 3px solid $yellow;
    border-radius: 50px;
    @include rowCenter();
    @include mobile {
      width: 70px;
      height: 30px;
      font-size: 10px;
    }
  }
}
#navBtn {
  width: 800px;
  height: 75px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 0 1px #d0d0d0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  a {
    cursor: pointer;
  }
}
.favorite {
  position: absolute;
  left: 88%;
  top: 47%;
  width: 55px;
  height: 55px;
  cursor: pointer;
}
.customIcon {
  width: 30px;
  height: 30px;
  font-size: 25px;
  padding-bottom: 10px;
  color: rgb(149, 149, 149);
}
.smallText {
  font-size: 25px;
  color: rgb(149, 149, 149);
}

.fix {
  font-family: "appleB";
  font-size: 25px;
}

.fix2 {
  font-size: 25px;
  position: absolute;
  left: 180px;
}

.revieIcon,
.naviIcon,
.sirenIcon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 40px;
}
